<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestNG Tests">
    <test name="Department tests">
        <classes>
            <class name="test.StaffMemberTest"/>
            <class name="test.DepartmentTest"/>
            <class name="test.PositionTest"/>
            <class name="test.EmployeeTest"/>
        </classes>
    </test>
</suite>
