<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Sample Test Suite">
    <test name="Sample Test">
        <classes>
            <class name="FirstTest"/>
        </classes>
    </test>

    <test name="Another Sample Test">
        <classes>
            <class name="FirstTest"/>
        </classes>
    </test>

</suite>
